      .container {
          width: 150px;
          height: 150px;
          position: relative;
          margin: 30px;
      }

      #box_1 {
          width: 50%;
          height: 50%;
          position: absolute;
          top: 0;
          left: 0;

          background: rgba(0, 0, 255, 1)
      }

      #box_2 {
          width: 50%;
          height: 50%;
          position: absolute;
          top: 50px;
          left: 50px;
          background: rgba(255, 0, 2, .7)
      }